:root {
    --primary-text-color:  #212121;
    --title-text-color: #757575;
    --accent-color: #2196F3;
    
    
}

.button-div{
    background-color: var(--accent-color);
    text-align: center;
      
}

a {
    text-decoration: none;
  }

body{
    font-family: Roboto, sans-serif;
    letter-spacing: 0.42px;
}

.page {
    background: #FFF;
    color: var(--title-text-color);

}
.logo {
    font-family: Raleway;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
}
a .logo1{
    color: var(--accent-color);
}
a .logo2{
    color: #000;

}

a .logo3{
    color: #FFF;

}

.siti{
    color:  #FFF;
    font-family: Roboto;
    font-size: 14px;
}

.footer-adress{
    font-style: normal;
}

.footer-adress-a{
    color: rgba(255, 255, 255, 0.60);
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
}

.header {
    font-size: 26px;

}
ul {
    list-style: none;
}

.navigation{
    color: #212121;
    font-family: Roboto;
    font-size: 14px;
    
    font-weight: 500;
    
}

.auth-nav{
    color: #757575;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
}


.site-nav a
{
    color: #212121;
}

.site-nav a:hover,
.site-nav a:focus
{
    color: var(--accent-color);
}

.site-nav .link.current{
    color: #2196F3;
}

p{
    color: #757575;
    font-size: 16px;
    line-height: normal;

}

.b-type button:hover {
    background-color: #2196F3;
}

.section .button.activ {
    background-color: #2196F3;
}

.p-size{
    font-size: 14px;
}

.h2-center{
    text-align: center;
    color: #212121;
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
}

.hero-title{
    color: #FFF;
    text-align: center;
    font-weight: 900;
    font-family: Roboto;
    text-transform: uppercase;
}

.p-size{
    font-weight: 400;
}

.section-title{
    color: var(--primary-text-color);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.48px;

}

.auth-nav a{
    color: var(--title-text-color);
}
.auth-nav a:hover,
.auth-nav a:focus
{
    color: var(--accent-color);
}


.bg-color{
    background-color: #2F303A;
}

.bg-color2{
    background-color: #F5F4FA;
}
/*rgba(255, 255, 255, 1) білий
rgba(33, 33, 33, 1) черний
rgba(117, 117, 117, 1) сірий
rgba(33, 150, 243, 1) синий
rgba(255, 255, 255, 0.6) черный с прозрачным
rgba(255, 255, 255, 1) черный

*/
